container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python ./app/manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python ./app/manage.py collectstatic --noinput"
  03_fetch_data:
    command: "source /var/app/venv/*/bin/activate && python ./app/manage.py fetch_all"
